@charset "utf-8";
a,
body {
    color: #333;
    font-family: "microsoft yahei";

}
*{
    font-family: "microsoft yahei";
}

.clear,
.clearfix:after {
    display: block;
    height: 0;
    clear: both
}

.ng-toolbar i.linex,
.tl,
a.ng-close {
    text-align: center
}

.ng-header .ng-gif-logo img,
a {
    outline: 0
}

.clearfix:after,
.footer-dom {
    visibility: hidden
}
.tran03{
    transition: all 0.3s;
}
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

body,
button,
input,
select,
textarea {
    font: 12px/1.5 arial, tahoma, \5b8b\4f53
}

.ng-iconfont,
em,
i {
    font-style: normal
}

.ng-toolbar,
.ng-toolbar .ng-bar-node,
a.ng-close {
    line-height: 35px;
    height: 35px
}

body {
    background: #FFF
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

fieldset,
img {
    border: 0
}

li,
ol,
ul {
    list-style: none
}

button,
input,
select,
textarea {
    font-size: 100%;
    outline: 0
}

textarea {
    resize: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none
}

a:hover {
    color: #F60;
	text-decoration: none;
}
a:focus {
    text-decoration: none;
    outline: 0
}
.lh24{
    line-height: 24px;
}
.f12{
    font-size: 12px;
}
.f13{
    font-size: 13px;
}
.f14{
    font-size: 14px;
}
.f15{
    font-size: 15px;
}
.f16{
    font-size: 16px;
}
.f17{
    font-size: 17px;
}
.f18{
    font-size: 18px;
}
.f19{
    font-size: 19px;
}
.f20{
    font-size: 20px;
}
.f21{
    font-size: 21px;
}
.f22{
    font-size: 22px;
}
.f23{
    font-size: 23px;
}
.f24{
    font-size: 24px;
}
.f32{
    font-size: 32px;
}
.f48{
    font-size: 48px;
}
.color-style0{
    color: #fff;
}
.color-style1{
    color: #e76f45;
}
.color-style2{
    color: #666;
}
.color-style3{
    color: #999;
}
.color-style5{
    color:#333;
}
.color-style4{
    color: #bbbfd9;
}
.clearfix:after {
    content: "."
}

.clearfix {
    zoom: 1
}

.clear {
    overflow: hidden;
    font-size: 0
}

.hide {
    display: none
}

.l {
    float: left
}

.r {
    float: right
}
.pointer{
    cursor: pointer;
}
.inner{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
        overflow: hidden;
}
.fw-n{
    font-weight: normal;
}
.fw-b{
    font-weight: bold;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.border-style1{
    border: 1px solid #c2c2c2;
}
.border-b-st1{
    border-bottom: 1px solid #dddddd;
}
.h-9-st1{
    color:#999;
    padding: 2px 5px;
}
.h-9-st1:hover{
    color:#fff;
    background-color: #e76f45;
}
.title-stl1{
    width: 100%;
    position: relative;
    text-align: center;
    height: 45px;
}
.title-stl1 span{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    padding: 0 65px;
    background: #f2f2f2;
    position: relative;
    z-index: 1;
}
.title-stl1 p{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #cacaca;
    top: 18px;
}
.title-stl2{
	position: relative;
}
.title-stl2 span{
	font-size: 18px;
	color: #333333;
	padding-right: 30px;
	background: #eeeeee;
	position: relative;
	z-index: 1;
}
.title-stl2 i{
	width: 100%;
	position: absolute;
	height: 1px;
	top: 9px;
	left: 0;
	background-color: #dddddd;
}
.round-head{
    display: block;
    border-radius: 100%;
    border: 4px solid #fff;
    overflow: hidden;
    background-color: #fff;
}
.round-head img{
    width: 100%;
    height: 100%;
    display: block;
}
.sdcard-icon{
    display: inline-block;
    width: 21px;
    height: 16px;
    background: url(../img/member/icon2.png) no-repeat 0 -1px;
}
.apv-icon{
    display: inline-block;
    width: 15px;
    height: 17px;
    background: url(../img/member/icon2.png) no-repeat -30px -1px;
}
.msg-icon{
    display: inline-block;
    width: 20px;
    height: 12px;
    background: url(../img/member/icon3.png) no-repeat 0 0;
}
.disCou-icon{
    display: inline-block;
    width: 19px;
    height: 12px;
    background: url(../img/member/icon3.png) no-repeat -28px 0;
}
.pen-icon{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/member/icon.png) no-repeat -23px 0;
}
.medal-icon{
    display: inline-block;
    width: 15px;
    height: 19px;
    background: url(../img/member/icon.png) no-repeat -45px 0;
}
.file-icon{
    display: inline-block;
    width: 15px;
    height: 13px;
    background: url(../img/member/icon.png) no-repeat -66px 0;
}
.shopcar-icon{
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../img/member/icon.png) no-repeat -86px 0;
}

/*sobeyalert*/
.sobey-alert{
		position: fixed;
    width: 100%;
    height: 100%;
    background: url(../img/icon/black-back015.png) repeat;
    top: 0;
    left: 0;
    z-index: 10001;
		
	}
	.sobey-alert-wrap{
		width: 100%;
		height: 100%;
		display: table;
		position: relative;
	}
	.sobey-alert-box{
		
		position: relative;
		display: table-cell;
		vertical-align: middle;
		font-weight: normal;
	}
	.sobey-alert-box > div{
		padding: 80px 50px 30px;
	    background-color: #fff;
	    width: 450px;
	    margin-left: auto;
	    margin-right: auto;
	    position: relative;
	    box-shadow: 0px 0px 35px #999;
	}
	.sobey-alert-box i{
		display: none;
    width: 95px;
    height: 95px;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -47.5px;
      background: url(../img/icon/alert-icon.png) repeat;
	}
.sobey-alert-box h2{
	    font-size: 18px;
    color: #999999;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    line-height: 36px;
    font-weight: normal;
    text-align: center;
}
.sobey-alert-box p{
	margin-top: 30px;
	height: 1px;
	background-color: #eeeeee;
}
.sobey-alert-box button{
	    display: block;
    width: 164px;
    height: 36px;
    border: 1px solid #e76f45;
    color: #e76f45;
    text-align: center;
    line-height: 36px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    background: none;
    transition: all .3s;
}
.sobey-alert-box button:hover{
	background: #e76f45;
	color: #fff;
}
/*sobeyalert*/

.list-style thead tr td{
    height:50px;
    text-align:center;
    border-bottom:1px solid #eee;

}

.list-style tbody tr td{
    height: 120px;
    text-align:center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.list-style tbody tr{
    border-bottom:1px solid #eee;
}
.list-style tbody tr:hover{
    background-color: #efefef;
}
.list-style tbody tr td img{
    height:100%;
}
.list-style tbody tr td input[type='text']{
    text-indent: 2px;
    width: 30px;
}
.list-style tbody tr td .list-price{
    font-size: 16px;
    color: #f60;
}
.list-sub-p{
    margin-top:50px;
    margin-bottom:50px;
    float:right;
}
.list-sub-p span{
    font-size:20px;
    color:#f60;
    margin-left:30px;
    line-height:43px;
}
.list-sub-p span em{
    font-weight:bold;
}
.list-sub-p input{
    color:#fff;
    border:none;
    padding:8px 30px;
    font-size:18px;
    font-weight:bold;
    background-color:#f60;
}
.order-address{
    float:right;
    padding-top:30px;
}
.order-address span{
    color:#999;
    font-size:12px;
}
.order-address select{
    color:#555;
}
.confirm-order-table td{
    height:50px;
    padding:0 40px;
    border-right:1px solid #aaa;
    border-top:1px solid #aaa;
    color:#666;
}
.confirm-order-table{
    border-left:1px solid #aaa;
    border-bottom:1px solid #aaa;
}
.banner-style{
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    position: relative;
        overflow: hidden;
}
.banner-style-nav{
    position: absolute;
    height: 0;
    width: 1200px;
    left: 50%;
    margin-left: -600px;
    z-index: 1;
    top: 0;
}
.banner-style-nav ul{
    background: url(../img/banner/banner-nav-back.png) repeat;
    width: 300px;
    height: 330px;
    position: relative;
}
.banner-style-nav ul h3{
    font-size: 18px;
    color: #ffffff;
    height: 58px;
    line-height: 56px;
    padding-left: 21px;
}
.banner-style-nav ul li{
    color: #ffffff;
    height: 68px;
    padding-left: 21px;
    cursor:pointer;
}
.banner-style-nav ul li:hover{
    background-color:#fff;
    color:#333333;
    margin-left: 5px;
    transition:all .5s;
}

.banner-style-nav ul li h4{
    font-size: 16px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
}
.banner-style-nav ul li h4 i{
    float: right;
    margin-right: 20px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.banner-style-nav ul li p{
    font-size: 12px;
    padding-top: 4px;
}
.banner-style-nav ul li p span{
    margin-right:8px;
}
.banner-style-nav ul li p a{
     color: #ffffff;
}
/*.banner-style-nav ul li p span{
     color: #ffffff;
}*/
body .banner-style-nav ul li:hover p a{
    color:#333333;
}
body .banner-style-nav ul li p a:hover{
    color:#f60;
}
.banner-style-nav .banner-style-nav-es{
    opacity: 0;
    visibility:hidden;
    width: 0px;
    height: 330px;
    position: absolute;
    top: 0;
    left: 300px;
    background: url(../img/banner/banner-nav-back2.png) repeat;
    padding-top: 8px;
    transition: all .3s;
}
.banner-style-nav ul li:hover .banner-style-nav-es{
    opacity: 1;
    width: 154px;
    visibility: visible;
}
.banner-style-nav .banner-style-nav-es p{
    padding-left: 39px;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
    white-space: nowrap;
}
.banner-style-nav .banner-style-nav-es a{
    color: #666666;

}
.banner-style-nav .banner-style-nav-es a:hover{
    color: #e76f45;
}
.banner-style .am-slider{
    height: 330px;
    width: 100%;
}
.banner-style .am-slider li .slider-img-a{
    height: 330px;
    width: 100%;
    display: block;
    background-position: top center;
    background-repeat: no-repeat;
}
.banner-style .am-direction-nav{
    width: 1200px;
    position: relative;
    margin: auto;
    display: none;
}
.banner-style .am-slider-b1 .am-direction-nav a{
    background: none;
    top: -150px;
}
.banner-style .am-slider-b1 .am-direction-nav a:before{
    /*content: "";*/

}
.cause-style1{
    margin-left: -20px;
}
.cause-style1 dl{
    float: left;
    margin-left: 20px;
    width: 285px;

}
.cause-style1 dl dt img{
    width: 285px;
    height: 150px;
    display: block;
}
.cause-style1 dl dd{
    text-align: center;
    margin-top: 8px;
}
.cause-style1 dl dd a{
    font-size: 14px;
    color: #e76f45;
}
.cause-style2{
    margin:0;
    margin-bottom: 40px;
}
.cause-style2.am-tabs-default .am-tabs-nav{
    background:none;
    position: relative;
}
.cause-style2.am-tabs-default .am-tabs-nav > a.r{
    position: absolute;
    right: 0;
}
.cause-style2.am-tabs-default .am-tabs-nav > h3{
    font-size:22px;
    color:#333;
    margin-right:100px;
    font-weight:normal;
}
.cause-style2.am-tabs-default .am-tabs-nav a{
    color: #999999;
    display: inline;
    background:none;
}
.cause-style2.am-tabs-default .am-tabs-nav a:hover{
    color:#e76f45;
}
.cause-style2.am-tabs-default .am-tabs-nav>.am-active a{
    color:#e76f45;

}

.cause-style2.am-tabs-default .am-tabs-nav li{

    flex: none;

    margin-right: 20px;
}
.cause-style2 .am-tabs-bd .am-tab-panel{
    padding: 0;
    margin-left: -20px;
    width: 1220px;
}
.cause-style2 .am-tabs-bd dl{
    width: 285px;
    border: 1px solid #dddddd;
    float: left;
    margin-left: 20px;
}
.cause-style2 .am-tabs-bd dl dt{

    border: none;
}
.cause-style2 .am-tabs-bd dl dt img{
    width: 283px;
    height: 148px;
    display: block;
    border: none;
}
.cause-style2 .am-tabs-bd dl dd{
    height: 69px;
    background-color: #fff;
    margin: 0;
}
.cause-style2 .am-tabs-bd dl dd h4{
    padding-left: 11px;
    padding-top: 10px;
}
.cause-style2 .am-tabs-bd dl dd h4 a{
    font-size: 16px;
    color: #333333;
    font-weight: normal;
}
.cause-style2 .am-tabs-bd dl dd p{
    padding-left: 11px;
    margin-top: 5px;
    font-size: 14px;
    color: #999999;
}
.cause-style2 .am-tabs-bd dl dd p em{
    margin-left: 12px;
}
.cause-style2 .am-tabs-bd dl dd p .r{
    margin-right: 10px;
}
.partner{
    margin-left: -25px;
}
.partner a,.partner img{
        width: 224px;
    height: 119px;

}
.partner a{
    float: left;
    margin-left:4px;
    margin-bottom: 20px;
}
.course-info-box{
    height: 399px;
    border: 1px solid #c2c2c2;
    padding-top: 29px;
    padding-left: 39px;
    padding-right: 39px;
}
.course-info-box .l{
    width: 552px;
}
.course-info-box .l img{
    width: 550px;
    height: 288px;
    display: block;
    border: 1px solid #dedede;

}
.course-info-box .l p{
    font-size: 16px;
    color: #999999;
}
.course-info-box .l>div{
    height: 50px;padding-top: 17px;
}
.course-info-box .l>div i{
    color: #e76f45;
    margin-right: 5px;
}
.course-info-box > .r{
    width: 540px;
}
.course-info-box > .r > h2{
    font-size: 30px;
    color: #666666;
}
.course-info-box > .r > p{
    font-size: 14px;
    color: #e76f45;
}

.course-info-box > .r > div{
    font-size: 14px;
    color: #666666;
    margin-top: 5px;
}
.course-info-box > .r > div span{
    color: #e76f45;
}
.course-info-box > .r > div font{
    text-decoration: line-through;
    color: #999999;
}
.course-info-box > .r > div em{
    font-size: 24px;
}
.course-info-box > .r label{
    margin-left: 5px;
}
.course-info-box > .r .num-box,.course-info-box > .r .num-box > div{
    display: inline-block;
}
.course-info-box > .r .num-box i{

    display: inline-block;

    border: 1px solid #ccc;

    padding: 0 4px;

    cursor: pointer;
}
.course-info-box > .r .num-box input{
    width: 30px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
    top: -2px;
    text-align: center;
}
.bt-style1{
    display: inline-block;
    font-size: 18px;
    color: #e76f45;
    width: 198px;
    height: 44px;
    border: 1px solid #e76f45;
    text-align: center;
    line-height: 44px;
}
.bt-style1:hover{
    background-color: #e76f45;
    color:#fff;
}
.course-info-box .bt-style1{
    display: inline-block;
    font-size: 18px;
    color: #e76f45;
    width: 198px;
    height: 44px;
    border: 1px solid #e76f45;
    text-align: center;
    line-height: 44px;
    background:#fff;
}
.course-info-box .bt-style1:hover{
    background-color: #e76f45;
    color: #fff;
}
.course-list-style1{
    margin-left: -16px;
    margin-top: 16px;
}
.course-list-style1 dl{
    margin-left: 16px;
    width: 269px;
    float: left;
}
.course-list-style1 dl:hover a{
    color: #e76f45;
}
.course-list-style1 dl dt img{
    display: block;
    width: 269px;
    border: none;
    height: 124px;
}
.course-list-style1 dl dd{
    margin-top: 8px;
}
.course-list-style1 dl dd a{
    font-size: 14px;
    color: #666666;
}
.course-descript.am-tabs{
    margin: 0;
}
.course-descript .am-tabs-nav{
    background: none;
    border: 1px solid #c2c2c2;
    padding-left: 15px;
    font-size: 16px;
}
.course-descript .am-tabs-nav li{
    flex:none;
    padding: 0 20px;
}
.course-descript .am-tabs-nav>.am-active a{
    border-bottom: 1px solid #e76f45;
    background: none;
    color: #e76f45;
}
.course-descript .am-tabs-nav a{
    border-bottom: 1px solid #c2c2c2;
    padding: 0 10px;
    position: relative;
    top: 1px;
    color: #666;
}
.course-descript .am-tabs-bd{
    border: 1px solid #c2c2c2;
    margin-top: 20px;
}
.banner2{
    height: 550px;
    background-repeat: no-repeat;
    background-position: top center;
}
.banner2 h1{
    font-size: 54px;
    color: #ffffff;
    text-align: center;
    padding-top: 114px;
}
.banner2 h4{
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-top: 32px;
    font-weight: normal;
}
.banner2 .bt-style2{
    margin: auto;
    margin-top: 105px;
}
.banner3{
    height: 363px;
    background-repeat: no-repeat;
    background-position: top center;
}
.banner3 h1{
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    padding-top: 95px;
    font-weight: normal;
}
.banner3 h4{
    font-size: 24px;
    color: #b9cbde;
    text-align: center;
    margin-top: 30px;
    font-weight: normal;
}
.banner3 .bt-style2{
    margin: auto;
    margin-top: 50px;
    color: #87da95;
    background: none;
    border: 1px solid #87da95;
}
.bt-style2{
    width: 200px;
    height: 46px;
    color: #fff;
    line-height: 46px;
    font-size: 18px;
    background-color: #87da95;
    text-align: center;
    display: block;
    transition: all .3s;
}
.bt-style2:hover{
    opacity: 0.9;
    color: #fff;
}
.bt-style3{
    width: 200px;
    height: 46px;
    color: #fff;
    line-height: 46px;
    font-size: 18px;
    background-color: #e76f45;
    text-align: center;
    display: block;
    transition: all .3s;
    border: none;
}
.bt-style3:hover{
    opacity: 0.9;
    color: #fff;
}
.textimg-block{
    /*padding-top: 160px;*/
    /*padding-bottom: 120px;*/
    height: 700px;
}
.textimg-block-text{
    width: 425px;
    padding-top: 160px;
}
.course-list-index dl:hover h4 a{
        color: #e76f45;
}
.textimg-block-text h2{
    font-size: 30px;
    color: #333333;
    font-weight: bold;
    padding-top: 45px;
}
.textimg-block-text p{
    font-size: 16px;
    color: #666666;
    margin-top: 20px;
    line-height: 36px;
}
.textimg-block-text p a,.textimg-block-text p a:hover{
    color: #87da95;
}


.textimg-block-text > div{
    margin-top: 60px;
}
.textimg-block-img{
    width: 580px;
    display: table;
}
.textimg-block-img p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 700px;
}
.textimg-block-img p img{
    max-width: 770px;
}
.text-img-block{
    background-color: #fff;
}
.text-img-block .textimg-block-text{
    float: left;
}
.text-img-block .textimg-block-img{
    float: right;
}
.img-text-block{
    background-color: #f4f4f4;
}
.img-text-block .textimg-block-text{
    float: right;
}
.img-text-block .textimg-block-img{
    float: left;
}

.cause-style3 h3 {
    font-size: 22px;
    color: #333;
    margin-right: 100px;
    font-weight: normal;
    width: 100%;
}

.cause-style3 h3 a {
    color: #999999;
    display: inline;
    background: none;
    font-size: 12px;
    font-weight: normal;
    margin-left: 20px;
}

.cause-style3 h3 a:hover {
    color: #e76f45;
}

.cause-style3 h3 span {
    padding-right: 30px;
    border-left: 3px solid #e76f45;
    padding-left: 12px;
}

.cause-style3 dl {
    width: 285px;
    border: 1px solid #dddddd;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
    transition: all .3s;
}
.cause-style3 dl:hover{
    transform: translateY(-10px);

}

.cause-style3 dl dt {

    border: none;
}

.cause-style3 dl dt img {
    width: 283px;
    height: 148px;
    display: block;
    border: none;
}

.cause-style3 dl dd {
    height: 69px;
    background-color: #fff;
    margin: 0;
}

.cause-style3 dl dd h4 {
    padding-left: 11px;
    padding-top: 10px;
}

.cause-style3 dl dd h4 a {
    font-size: 16px;
    color: #333333;
    font-weight: normal;
}

.cause-style3 dl dd p {
    padding-left: 11px;
    margin-top: 5px;
    font-size: 14px;
    color: #999999;
}

.cause-style3 dl dd p em {
    margin-left: 12px;
}

.cause-style3 dl dd p .r {
    margin-right: 10px;
}
.title-a-dl{
    border-bottom: 1px solid #dddddd;
    margin-top: 10px;
    padding-bottom: 20px;
}
.title-a-dl:last-child{
    border-bottom: none;
}
.title-a-dl dt{
    font-size: 16px;
    color: #666;
    font-weight: normal;
}
.title-a-dl dd{
    font-size: 14px;
}
.title-a-dl dd a{
    white-space: nowrap;
    color:#999999;
    padding: 2px 5px;
    margin-bottom: 3px;
    display: inline-block;
}
.title-a-dl dd a:hover,.title-a-dl dd a.act{
    color:#fff;
    background-color: #e76f45;
}
.backimg-text{
    height: 500px;
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
}
.backimg-text .l,.backimg-text .r{
    width: 450px;
}
.backimg-text h2{
    font-size: 42px;
    color:#333333;
    font-weight: normal;
    padding-top: 166px;
}
.backimg-text p{
    margin-top: 30px;
    font-size: 16px;
    color:#666666;
}
.backimg-text .bt-style1{
    margin: 50px auto 0;
}
.textimg2{
    height: 700px;
    background-repeat: no-repeat;
    background-position: top center;
}
.textimg2 .textimg2-text{
    width: 420px;
    padding-top: 208px;
}
.textimg2 .textimg2-img{
    width: 780px;
    display: table;
}
.textimg2 .textimg2-img p{
    display: table-cell;
    vertical-align: middle;
    height: 700px;
}
.textimg2 .textimg2-text h1{
    font-size: 30px;
    color:#333333;
}
.textimg2 .textimg2-text p{
    font-size: 16px;
    color:#666666;
    line-height: 36px;
    margin-top: 20px;
}
.textimg2 .textimg2-text .bt-style3{
    margin-top: 50px;
}
.textimg2-img-text .textimg2-text{
    float: right;
}
.textimg2-img-text .textimg2-img{
    float: left;
}
.textimg2-text-img .textimg2-text{
    float: left;
}
.textimg2-text-img .textimg2-img{
    float: right;
}
.zbjs-yycj dl{
    float: left;
    width: 299px;
    text-align:center;
    padding-top: 24px;
    padding-bottom: 10px;
}
.zbjs-yycj dl dd{
    margin-top: 18px;
}
.zbjs-yycj dl dd h4{
    font-weight: normal;
    font-size: 18px;
    color:#666666;
}
.zbjs-yycj dl dd p{
    font-weight: normal;
    font-size: 14px;
    color:#999999;
    line-height: 22px;
    width: 200px;
    margin: 12px auto 0;
}
.textimg3{
    height: 258px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    padding: 30px;
    position: relative;
    transition: all .1s;
}
.textimg3:hover{
    border-color: #ea987b;
}
.textimg3 > a{
    display: block;
    position: absolute;
    width: 91px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    background-color: #e76f45;
    top: 0;
    color: #fff;
    font-size: 12px;
}
.textimg3 > a:hover{
    color: #fff;
}
.textimg3 img{
    width: 351px;
    height: 198px;
    border: none;
}
.textimg3 > div{
    width: 750px;
}
.textimg3 > div h4 a,.textimg3 > div h4{
    font-size: 18px;
    color: #333;
    padding-top: 18px;
}
.textimg3 > div p{
    font-size: 14px;
    color: #999;
    line-height: 30px;
    margin-top: 24px;
}
.textimg3 > div p span{
    color: #333;
}
.textimg3-img-text > a{
    right: 0;
}
.textimg3-img-text > img{
    float: left;
}
.textimg3-img-text > div{
    float: right;
}
.textimg3-text-img > a{
    left: 0;
}
.textimg3-text-img > img{
    float: right;
}
.textimg3-text-img > div{
    float: left;
}
.textimg3-text-img > div h4{
    text-align: right;
}
.rzcontent2{
    height: 460px;
    text-align: center;
    background: url(../img/zyrz_back1.jpg) no-repeat top center;
}
.rzcontent2 h2{
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
}
.rzcontent2 p{
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
}
.rzcontent3{
    height: 496px;
    background: url(../img/zyrz_back2.jpg) no-repeat top center;
}
.rzcontent3 > div{
    width: 750px;
    margin: auto;
}
.rzcontent3 h2{
    font-size: 30px;
    padding-top: 59px;
    text-align: center;
    color: #262626;
    font-weight: normal;
}
.content3_step{
    width: 84px;
    float: left;
    text-align: center;
    margin-left: 245px;
    font-size: 24px;
    cursor: pointer;
}
.content3_step p{
    color: #808080;
    margin-top: 13px;
}
.content3_step1{
    width: 84px;
    height: 84px;
    background: url(../img/rz_icon.png) no-repeat -95px -239px;
}
.content3_step2{
    width: 84px;
    height: 84px;
    background: url(../img/rz_icon.png) no-repeat -95px -328px;
}
.content3_step3{
    width: 84px;
    height: 84px;
    background: url(../img/rz_icon.png) no-repeat -95px -421px;
}
.content3_alert{
    position: relative;
    display: none;
    width: 740px;
    height: 98px;
    background: url(../img/rz_step_alert.png) no-repeat -0px -12px;
}
.content3_alert_arrow{
    width: 21px;
    height: 12px;
    background: url(../img/rz_step_alert.png) no-repeat -32px -0px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.content3_step_act p{
    color: #ff6a00;
}
.content3_step_act .content3_step1{
    background-position: -5px -239px;
}
.content3_step_act .content3_step2{
    background-position: -5px -328px;
}
.content3_step_act .content3_step3{
    background-position: -5px -421px;
}
.color-ff6e00 {
    color: #ff6e00;
}
.rzcontent4{
    height: 550px;
    background: url(../img/zyrz_back3.jpg) no-repeat top center;
}
.rzcontent4 > div{
    width: 1200px;
    margin: auto;
}
.rzcontent4 h3{
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    color: #262626;
    padding-top: 64px;
}
.rzati{
    font-size: 30px;
    color: #262626;
    font-weight: normal;
    text-align: center;
    padding-top: 60px;
}
.rzactive{
    padding-bottom: 50px;
}



/*分页*/
.cd-pagination.no-space {
      width: auto;
    max-width: none;
    display: inline-block;
    padding-top: 30px
}

.cd-pagination.no-space li {
  float: left;
    border: 1px solid #e6e6e6;
    margin: 0 10px;
}
.cd-pagination.no-space li:first-child{
	margin-left: 0;
}
.cd-pagination.no-space a, .cd-pagination.no-space span {
  float: left;
    padding: .8em 1.3em;
    border: none;
}
.cd-pagination .current {
  /* selected number */
  background-color: #e76f45;
  border-color: #e76f45;
  color: #ffffff;
  pointer-events: none;
}
.cd-pagination.no-space a:hover{
	color: #fff;
	  background-color: #e76f45;
  border-color: #e76f45;
}
.form-style1{
	margin-bottom: 19px;
}
.form-style1 .text-right{
	line-height: 42px;
}
.form-style1 input{
	text-indent: 13px;
    padding-top: 8px;
    border: 1px solid #dcdcdc;
    color: #999;
    padding-bottom: 5px;
}
.form-style1 select, .order-address select{
    padding: .5em;
    line-height: 1.2;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0;
}
.input-style1{
	text-indent: 13px;
    padding-top: 8px;
    border: 1px solid #dcdcdc;
    color: #999;
    padding-bottom: 5px;
}
.form-style1 textarea {
    text-indent: 13px;
    padding-top: 8px;
    border: 1px solid #dcdcdc;
    color: #999;
    padding-bottom: 5px;
    width: 80%;
}
.form-style1 .col-md-8{
	line-height: 42px;
}

#edt-phone,#edt-email{
    color: #38f;
}

